
body {
    font-family:Helvetica,sans-serif;
    font-size:0.8em;
}

header,footer,section,article {
    margin:5px;
    margin-bottom:15px;
    padding:8px;
    background-color:white;
}

header,footer {
    color:black;
    background-color: white;
    margin-bottom:5px;
}

section {
    background-color:#D7D8D9;
}

nav ul  {
    list-style-type: none;
    margin:0;
    padding:0;
    overflow: hidden;
    background-color: #333;
}

nav ul li {
    display:inline; 
    margin:20px;
    float: left;
}

nav ul li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul li a:hover {
  background-color: #333;
}

a:link {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: black;
  background-color: transparent;
  text-decoration: underline;
}