
body {
    font-family:Helvetica,sans-serif;
    font-size:0.8em;
}

/* lettertype h1 en meer */

h1 {
  font-family: Helvetica, sans-serif;
  color: black;
  font-size: 2em;
  letter-spacing: 0.3em;
}


h1, h2, h3 {
  color: black;
  line-height: 1.5
}

p {
  line-height: 1.5
}

section,article {
    margin:50px;
    margin-bottom:15px;
    padding:8px;
    background-color:white;
}

/*
article {
  
}
*/

section {
    background-color:#D7D8D9;
}

nav {
  
  background-color: #403F3E;
  background-position: center;
  background-repeat: no-repeat;
  height: 70px;
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  color: white;
  text-align: center;
  
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
}

nav ul {
  vertical-align: center;
}

nav li {
  list-style: none;
  line-height: 35px;
  display: inline-block;  
}

nav ul li a {
  padding-bottom: 18px;
  padding-top: 18px;
  /* padding-left en padding-right is voor de tussenruimtes tussen de titels van de nav bar */
  padding-left: 2vw;
  padding-right: 2vw;
  font-family: georgia;  
  font-weight: 300;
  color: white;
  /* letter-spacing is oor ruimte tussen de letters van nav */
  letter-spacing: 5px;
  text-decoration: none;
  /* webkit-font-smoothing is voor het prettiger lezen van de letters */
  -webkit-font-smoothing: antialiased;
  
  /* transition is voor het 'versoepelen' van de hover*/
  transition: all 0.5s;

}

nav ul li a:hover {
  background: #333332;
}

a:link {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

/* voor introductie op home-page*/

.home {
  max-width: 1000px;
  margin: 10px;
  padding: 0 10px;
}

.container {
  max-width: 100%;
  min-width: 25em;
  min-height: 50vh;
  background-color: white;
  box-shadow: 5px 10px 100px grey;
}

.container .highlight {
    font-weight: 600;
    font-style: bold;
    letter-spacing: 0.5px;
}

.container h1{
  text-align: center;


div.img {
  margin: 50px;
  position: relative;
  border: 1px solid #ccc;
  float: left;
  width: 500px;
  height: 350px;
  opacity: 1.0;
  overflow: hidden;

}

/* Voor als er over een image heen wordt gegaan met de muis */
div.img:hover {
  opacity: 0.5;
}

/* Voor het gelijkstellen van alle images aan dezelfde lengte en breedte */
div.img img {
  position: relative;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}

div.img img.portrait {
  width: 100%;
  height: auto;
}

/* Dit is voor de desc titel de aan de image gekoppeld zit */
div.desc {
  padding: 1px;
  text-align: center;
}