/* lettertypes algemeen */

h1 {
  font-family: Helvetica, sans-serif;
  color: black;
  font-size: 2em;
  letter-spacing: 0.3em;
}


h1, h2, h3 {
  font-family: Helvetica, sans-serif;
  color: black;
  line-height: 1.5;
}

p {
  line-height: 1.5;
  color: #403F3E;
}

/* indeling van de body, nav, section */

body {
    font-family:Georgia,sans-serif;
    font-size:0.8em;
    text-align: center;
}

section {
    margin:50px;
    margin-bottom:15px;
    padding:8px;
    background-color:white;
}

section {
    background-color:#D7D8D9;
}

nav {
  
  background-color: #403F3E;
  background-position: center;
  background-repeat: no-repeat;
  height: 70px;
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  color: white;
  text-align: center;
  z-index: 1000;
  
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
}

nav ul {
  vertical-align: center;
  position: fixed;
}

nav li {
  list-style: none;
  line-height: 35px;
  display: inline-block;  
}

nav ul li a {
  padding-bottom: 18px;
  padding-top: 18px;
  /* padding-left en padding-right is voor de tussenruimtes tussen de titels van de nav bar */
  padding-left: 2vw;
  padding-right: 2vw;
  font-family: Helvetica;  
  font-weight: 300;
  color: white;
  /* letter-spacing is oor ruimte tussen de letters van nav */
  letter-spacing: 5px;
  text-decoration: none;
  /* webkit-font-smoothing is voor het prettiger lezen van de letters */
  -webkit-font-smoothing: antialiased;
  
  /* transition is voor het 'versoepelen' van de hover*/
  transition: all 0.5s;

}

nav ul li a:hover {
  background: #333332;
}

a:link {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

/* voor introductie op home-page*/

.home {
  max-width: 1000px;
  margin: 10px;
  padding: 0 10px;
}

/* alles voor de container bij iedere pagina */

.container {
  max-width: 70%;
  margin: 15px auto 0;
  padding: 0 20px;
  background-color: white;
  top: 50px;
  position: relative;
  box-shadow: 5px 10px 100px grey;
}

/* video weergave */
.video {
  width: 600px;
  height: 350px;
}

/* img instellingen */

img
{
  max-width:300px;
  width:100%;
  height:auto;
  opacity: 1.0;
}


img:hover {
  opacity: 0.5;
}

.opdrachtimg
{
  border:1px solid black;
}

/* grid toevoegen */
/*  2 secties */
.section {
  clear: both;
  padding: 0px;
  margin: 0px;
}

/*  2 columns */
.col {
  display: block;
  float:left;
  padding: 1% 0 1% 1.6%;
}

.col:first-child  { 
  margin-left: 0; 
}

/*  Groepering  */
.group:before,.group:after { 
  content:""; 
  display:table; 
}

.group:after { 
  clear:both;
}

.group { 
zoom:1; /* voor IE 6/7 */ 
}

/*  Grid voor 2  */
.span_2_of_2 {
  width: 100%;
}
.span_1_of_2 {
  width: 47%;
}

/*  met minder dan 480 picxels: dit */

@media only screen and (max-width: 480px) {
  .col { 
    margin: 1% 0 1% 0%;
  }
}

@media only screen and (max-width: 480px) {
  .span_2_of_2, .span_1_of_2 { width: 100%; }
}
