
body {
    font-family:Helvetica,sans-serif;
    font-size:0.8em;
}

header,footer,section,article {
    margin:5px;
    margin-bottom:15px;
    padding:8px;
    background-color:white;
}

header,footer {
    color:black;
    background-color: white;
    margin-bottom:5px;
}

section {
    background-color:#D7D8D9;
}

article {
  width: 500px;
  height: 500px;
}

nav ul  {
    margin:0;
    padding:0;
}

nav ul li {
    display:inline; 
    margin:20px;
}

a:link {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: black;
  background-color: transparent;
  text-decoration: underline;
}